<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baorant.secondmoduel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <service android:name=".thread.MyIntentService"/>
        <activity
            android:name=".thread.IntentServiceActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".thread.AsyncTaskActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".thread.ThreadActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".room.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".viewModel.ViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".dataBinding.DatabindingActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".ButterKnife.ButterKnifeActivity"
            android:exported="false" />
        <activity
            android:name=".eventBus.EventBusActivity"
            android:exported="false" />
        <activity
            android:name=".SecondMainActivity"
            android:exported="true" />
    </application>

</manifest>